{% extends "map/base.html" %}

{% load staticfiles %}

{% block title %}
  Pushpin | Media | {{ location.name }}
{% endblock %}

{% block extra_js %}
  <!--<script src="{% static "js/list.min.js" %}" charset="utf-8"></script>
  <script src="{% static "js/list.pagination.min.js" %}" charset="utf-8"></script>-->
  <script src="{% static "js/jquery.searchable.js" %}" charset="utf-8"></script>
  <script src="{% static "js/media-view.js" %}" charset="utf-8"></script>
{% endblock %}

{% block media-toggle %}
<li id="map-toggle"><a href="{% url 'map:map location' location %}">Map</a></li>
<li id="media-toggle" class="active"><a href="#">Media</a></li>
{% endblock %}

{% block body %}
<!--<div id="media-wrapper">
  <center>
    <h3>{{ location.name }}</h3>
  </center>

  <table id="media" class="stripe">
  </table>
</div>-->

<div id="media-wrapper">
  <div class="form-group">
    <label for="media-search">Search media</label>
    <input id="media-search" class="form-control" placeholder="Search">
  </div>
  <table id="media-table" class="table table-striped table-condensed table-responsive">
    <thead>
      <tr>
        <th>Image</th>
        <th>Username</th>
        <th>Content</th>
        <th>Source</th>
        <th>Created</th>
        <th class="hide">Sort-Date</th>
      </tr>
    </thead>
    <tbody class="list">
    {% for pin in pushpins %}
      <tr>
        <td class="image">
          <a href='{{pin.media_url}}' target='_blank'>
            <img class='prof_img rounded lazy' data-original='{{pin.thumb_url}}'>
          </a>
        </td>
        <td class="name"><a href="{{pin.profile_url}}" target="_blank">{{pin.profile_name}}</a></td>
        <td class="message">{{pin.message}}</td>
        <td class="source">{{pin.source}}</td>
        <td class="date">{{pin.date}}</td>
        <td class="sort-date hide">{{pin.date|date:"U"}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
