{% extends "map/base.html" %}
{% load staticfiles %}

{% block title %}
Pushpin | Map
{% endblock %}

{% block body %}
  <div class="full-body-text">
    <h3>
    <p>Welcome to pushpin-web! Add API keys using the "manage" button above, then add a location under the "locations" dropdown to get started.</p>
    <p class="small">
      Feel free to browse <a href="https://github.com/DakotaNelson/pushpin-web" target="_blank">the source code</a> and submit issues or get in touch if you have any questions or comments.
    </p>
  </h3>
  </div>
{% endblock %}

